@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

* { margin: 0; padding: 0; }


h1
{
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Open Sans', Helvetica;
	color: red;
	font-size: 35px;
	font-weight: 300;
	z-index: -1;
}

h1 span { color: #4DAF7C; font-weight: 400; }

form{
top: 40px;
}

h2
{
	position: absolute;
	top: 350px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Open Sans', Helvetica;
	color: red;
	font-size: 25px;
	font-weight: 300;
	z-index: -1;
}

p
{
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Open Sans', Helvetica;
	color: blue;
	font-size: 25px;
	font-weight: 300;
	z-index: -1;
}

h2 span { color: #4DAF7C; font-weight: 400; }

h3
{
	position: absolute;
	top: 370px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Open Sans', Helvetica;
	color: #807F7D;
	font-size: 25px;
	font-weight: 300;
	z-index: -1;
}

h3 span { color: #4DAF7C; font-weight: 450; }

body{
	background-image:url('../images/myimage.jpg');
	background-repeat: no-repeat;
}